# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
ENV/
.Python

# Virtualenv
venv/

# macOS
.DS_Store

# Node
node_modules/
/build/
/dist/

# Logs
*.log

# Database and sensitive files
encodings.pkl
alert_flag.txt
absent_log.txt
unauthorized_logs/

# Editor
.vscode/
.idea/

# System
*.swp
